@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
*
* CUSTOM SCROLLBAR
*
 */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #096F7D;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1B607A;
}

/*
*
* SIMULATOR
* All the page
* grid grid-cols-2 m-5 gap-1
*/
.page-structure {
    display: grid;
    grid-template-columns: 30% 69%;
    margin: 5px;
    gap: 10px;
}

/*
* SIMULATOR
* Title of the page
* col-span-2 text-center
*/
.page-title {
    grid-column: span 2 / span 2;
    text-align: center;
}

/*
*
* SIMULATOR
* Form
* w-3/5 col-span-1 content-start gap-5 mt-10
*/
.special-background-color {
    background-color: #1A5F7A;
    font-weight: bolder;
}

.simulator-form {
    grid-column: span 1;
    align-content: flex-start;
    gap: 5px;
    margin: 10px;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1px;
    margin: 2px;
    align-items: center;
}

.checkbox-container .checkbox-label {
    display: block;
    position: relative;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #1A5F7A;
    color: #1A5F7A;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.checkbox-label:hover {
    color: #1A5F7A;
    background-color: #FFC900;
}

/*Change the style of the background while an element is checked*/
/* NE FONCTIONNE PAS */
.checkbox-container~input:checked {
    background-color: red;
    font-weight: bold;
    color: yellow;
}

.checkbox-container .checkbox-label .checkboxElt {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

/*
*
* SIMULATOR
* Dropdown More options
*/
.more-options-button {
    font-style: italic;
    font-size: 12px;
    color: #1A5F7A;
}

/*
*
* SIMULATOR
* Message for the fill in composition place
*/
#composition-message {
    visibility: visible;
    font-style: italic;
    font-size: 12px;
    color: 1A5F7A;
}

/*
* 
* SIMULATOR
* Space for graphics
* gap-3 col-start-2 row-start-2 row-span-2 col-span-1 grid grid-rows-2 grid-cols-2 mt-10
*/
.simulator-graphics {
    gap: 3px;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row: span 2;
    grid-column: span 1;

    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));

    margin: 10px;
}

/*
* 
* SIMULATOR
* Graphic : world-production
* row-start-1 col-span-2 p-2
*/
.world-production {
    grid-row-start: 1;
    grid-column: span 2;
    padding: 5px;
    display: grid;
}
#world-production-title {
    grid-row-start: 1;
    grid-column: span 4;
}
.actual-ressource {
    grid-row-start: 2;
    grid-column-start: 1;
    text-align: center;
}
.world-production-arrow {
    grid-row-start: 2;
    grid-column-start: 2;
    text-align: center;
}
.future-date {
    grid-row-start: 2;
    grid-column-start: 3;
    text-align: center;
}
.world-production-exhaustion {
    grid-row-start: 2;
    grid-column-start: 4;
    background-color: #096F7D;
    border-radius: 10px;
    padding: 10px;
    color:aliceblue;
}
#exhaustion-calendar {
    display: grid;
}
.rocks {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-self: center;
}
.rocks img {
    max-width: 40px;
    max-height: 40px;
}
.rock-1{
    grid-row-start: 1;
}
.rock-2, .rock-3 {
    grid-row-start: 2;
}
.rock-4, .rock-5, .rock-6 {
    grid-row-start: 3;
}
.rock-7, .rock-8, .rock-9, .rock-10 {
    grid-row-start: 4;
}


/*
* 
* SIMULATOR
* Graphic : geopolitical risk
* row-start-2 col-start-1 p-2
*/
.geopolitical-risk {
    grid-row-start: 2;
    grid-column-start: 1;
    padding: 2px;
}
#map-gisement {
    border-radius: 10px;
    margin : 5px auto;
    width: 98%;
}

/*
* 
* SIMULATOR
* Graphic : CO2 footprint
* row-start-2 col-start-2 p-2
*/
.co2-footprint {
    grid-row-start: 2;
    grid-column-start: 2;
    padding: 2px;

    display: grid;
}
.co2-footprint > h3 {
    grid-row: span 1;
    grid-column: span 2;
    height : 50%;
}

#pie-chart {
    visibility: visible;
}

#spaceForPieChart {
    grid-row: span 1;
    grid-column: span 1;
    grid-row-start: 2;
    grid-column-start: 1;
    width : 100%;
}

#CO2carEquivalent {
    grid-row: span 1;
    grid-column: span 1;
    grid-row-start: 2;
    grid-column-start: 2;
    margin : auto;
}


/*
* For add the visibility attribute 
* Pour rendre visible un objet
*/
.show {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}